# Python
__pycache__

# file patterns
*.ipynb_checkpoints
*.bundle
*.csv
*.joblib
*.json
*.kvmodel
*.npy
*.pt
*.png
*.tgz

# Ignore .vscode contents but allow the shared project settings
.vscode/*
!.vscode/settings.json
